body {
  font-family: Verdana, sans-serif;
  background-color: #313131;
}

/*  Grid  */
.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;
}

.contentT {
  grid-area: ct;
}

.contentB {
  grid-area: cb;
}

.leftSidebarT{
  grid-area: lsbt;
}

.leftSidebarB{
  grid-area: lsbb;
}

.rightSidebarT {
  grid-area: rsbt;
}

.rightSidebarB {
  grid-area: rsbb;
}

section {
  display: grid;

  grid-template-columns: 470px auto 280px;
  grid-auto-rows: minmax(30px, auto);
  grid-template-areas:
  "hd hd hd "
  "lsbt ct rsbt"
  "lsbb cb rsbb"
  "ft ft ft";

  grid-column-gap: 20px;
  grid-row-gap: 15px;
  position: relative;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

.rightSidebarT {
  width: 250px;
  height: 450px;
}

#twitter-newsfeed{
  height: 450px;
  width: 280px;
  overflow: scroll;
}

header {
  position: relative;
  height: 30px;
}


header h1 {
  margin:0;
  display:inline-block;
  width: 500px;
  padding: 0;
  color: white;
}

#theme-select-container {
  display: inline-block;
  width: 200px;
}

#theme-select {
  display:none;
  width: 200px;
}

#add-coin-container {
  width: 450px;
  height: 430px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: #686868;
}

#coins-list-filter-controls-container {
  width: 440px;
  height: 35px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
}

#coins-list-filter-controls-container input[type=button]{
  width: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4px;
  margin-left: 1px;
  padding-bottom: 0;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-color: buttonFace;
  font-size: 12px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#coins-list-filter-controls-container input[type=text]{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  width: 120px;
  height: 25px;

}

#coin-selector-list-headers {
  width: 440px;
  height: 24px;
  display: block;
  margin:0;
  margin-top: 2px;
}

#coin-selector-list-headers p {
  font-size: 14px;
  display: inline-block;
  pointer-events:none;
  margin:0;
  padding: 0;
  height: 24px;
  line-height: 24px;
  padding: 2px;
  color: white;
}

#coin-selector-list-headers p:nth-child(1){
  width: 23.5ch;
}

#coin-selector-list-headers p:nth-child(2){
  width: 13.5ch;
}

#coin-selector-list-headers p:nth-child(3){
  width: 9ch;
  text-align: right;
}

#coins-list-list {
  list-style: none;
  width: 440px;
  height: 260px;
  overflow: scroll;
  border: 1px solid forestgreen;
  margin: 0;
  padding: 0;
  background-color: white;
}

.coins-list-coin-item {
  display: block;
  width: 100%;
  height: 24px;
  padding-left: 5px;
  cursor: pointer
}

.coins-list-coin-item span{
  pointer-events:none;
  height: 24px;
  line-height: 24px;
}

.coins-list-coin-name {
  display: inline-block;
  margin-right: 1em;
}

.coins-list-coin-symbol {
  display: inline-block;
  width: 11ch;
  margin-right: 1em;
}

.coins-list-coin-price {
  display: inline-block;
  width: 7ch;
  margin-right: 1em;
  text-align: right;
}

.coins-list-selected-coin {
  background-color: forestgreen !important;
  color: white;
}

.coins-list-coin-in-portfolio{
  background-color: #eaffe8;
}

.coins-list-hidden {
  display: none;
}


#add-form-add-group {
  position: relative;
  width: 440px;
  height: 65px;
}

.add-group-label {
  height: 24px;
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: white;
}

#coin-name-label {
  position: absolute;
  width: 280px;
  top: 0;
  left: 4px;
}

#coinNameInput {
  position: absolute;
  width: 340px;
  height: 24px;
  top: 24px;
  left: 4px;
  font-size: 16px;
}

#coin-amount-label {
  position: absolute;
  width: 70px;
  top: 0;
  right: 10px;
}

#coin-amount {
  position: absolute;
  width: 70px;
  height: 24px;
  top: 24px;
  right: 0px;
  font-size: 16px;
  padding-left: 4px;
}

#submitBtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 440px;
  height: 30px;
  border: 2px solid forestgreen;
  background-color: lightgreen;
  color: black;
  font-size: 18px;
  border-radius: 5px;
}

#submitBtn:disabled {
  border: 2px solid tomato;
  background-color: pink;
  color: red;
}


/*  Performance chart */

#performance-chart-container {
  width: 100%;
  height: 450px;
  border: 1px solid darkgray;
}


/*  Coin Detail */

#coin-detail-container {
  background-image: url('../images/cryptotracker_300.png');
  background-repeat: no-repeat;
  background-position: center;
}

#coin-detail-container {
  height: 100px;
  transition: height 300ms;
  transition-timing-function: ease;
  position: relative;
  width: 100%;
  min-height: 450px;  /* remove for animation */ */
  height; 0px;

  background-color: #313131;
  border: 1px solid darkgray;
  overflow: scroll;
  color: white;
}

#coin-detail-container.is-active {
  height: 450px;
}

.prop-para{
  font-size: 12px;

}

/* Coin Detail div    */

#coin-detail-view-chart-div{
  /* width: 600px; */
  grid-column: 2 / 3;
  height: 400px;
}



#portfolio-chart-view-div{
  width: 100%;
  height: 500px;
}





.coin-image{
  display: inline-block;
  padding-left: 10px;
}

.twitter-hashtag-button{
  height: 40px;
}




table {
	width:100%;
	table-layout:fixed;
	margin: auto;
  border: collapse;
}

th, td {
	/* padding:5px 10px; */
	/* border:0.1px solid #000; */
}

thead, tfoot {
	background-color: #686868;
	display:table;
	width:100%;
  height:40px;
  color: white;
}

tfoot{
  font-weight: bold;
  background-color: #313131;
}

tbody {
	height:350px;
	overflow:auto;
	overflow-x:hidden;
	display:block;
  margin:0;
  padding:0;
	width:100%;
  background-color: white;
}

tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}

tr{
  border-bottom: 1px solid darkgray;
  cursor: pointer;
}

tbody tr:hover{
  background-color: #eaffe8;
}

thead tr th:nth-child(1), tbody tr td:nth-child(1){
  width: 50px;
}

thead tr th:nth-child(2), tbody tr td:nth-child(2){
  width: 90px;
  text-align: left;
}

thead tr th:nth-child(3), tbody tr td:nth-child(3){
  width: 50px;
}

thead tr th:nth-child(4), tbody tr td:nth-child(4){
  width: 40px;
  text-align: right;

}

thead tr th:nth-child(5), tbody tr td:nth-child(5){
  width: 100px;
  text-align: right;
  padding-right: 3px;
}

#portfolio-list {
  width: 470px;
  height: 450px;
  padding: 0;
  border: 1px solid darkgray;
  background-color: #313131;
}

.portfolio-view-table-td-total{
  width: 180px;
  border-collapse: collapse;
  border: 0;
}

.portfolio-view-table-td-tfoot{
  text-align: right;
  color: yellow;
  border-collapse: collapse;
  border: 0;

}

.coin-header{
  width: 250px;
  margin: 0;
  margin-left: 33px;
  padding-top:0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 16px;
}

.rightSidebarB {
  width: 250px;
  height: 450px;
  background-color: lightgreen;
}




.ctrl-disabled {
  background-color: lightgray !important;
  border: 1px solid darkgray !important;
  color: white !important;
}

.ctrl-disabled:hover {
  cursor: not-allowed !important;
}

#delete-toggle-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 15px;
    transition: 0.4s;
}

#delete-toggle-button: hover {
  background-color: #ccc;
}

.active {
    background-color: #ccc;
}

.delete-panel {
  width: 100%;
  height: 30px;
  padding-top: 10px;
}

#cancel-delete-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  width: 120px;
  height: 25px;
  margin-left: 10px;
  border: 2px solid forestgreen;
  background-color: lightgreen;
  outline: none;
  color: black;
}

#coin-detail-side {
  width: 280px;
  height: 450px;
  color: white;
  border: 1px solid lightgray;
}

#coin-detail-side-header {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #686868;
}

#coin-detail-side-image {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

#coin-detail-side-data-div{
  width: 100%;
  height: 200px !important;
  padding-left: 10px;
  padding-top: 10px;

}

#coin-detail-side-data-div p {
  margin-top: 0;
}

#coin-detail-side-control-group{
  width: 100%;
  height: 100px;
  border-top: 2px solid white;

}

#coin-detail-quantity-label{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  padding-left: 10px;
  margin:0;
  display:block;
  text-align: left;

}

#coin-detail-quantity-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
  width: 120px;
  height: 20px;
  font-size: 16px;
  text-align: center;
}

#coin-detail-update-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  width: 120px;
  height: 25px;
  margin-left: 10px;
  border: 2px solid forestgreen;
  background-color: lightgreen;
  outline: none;
  color: black;
}

#coin-detail-update-button:disabled {
  border: 2px solid tomato;
  background-color: pink;
  color: red;
}

#coin-detail-delete-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  width: 120px;
  height: 25px;
  outline: none;
  margin-left: 10px;
  border: 2px solid tomato;
  background-color: pink;
  color: red;
}

.temp-element {
  width: 100%
  height: 60px;
  text-align: center;
  font-size: 34px;
  color: tomato;
  transition: color 1s ease;
}

.temp-element-fade {
  width: 100%
  height: 60px;
  text-align: center;
  font-size: 34px;
    transition: color 1s ease;
  color: white;
}
