body {
  font-family: Verdana, sans-serif;
}

#coins-list-list {
  list-style: none;
  width: 390px;
  height: 200px;
  overflow: scroll;
  border: 1px solid forestgreen;
  padding: 0;

}

.coins-list-coin-item {
  display: block;
  width: 100%;
  height: 24px;
  padding-left: 5px;
}

.coins-list-coin-item span{
  pointer-events:none;
  height: 24px;
  line-height: 24px;
}

.coins-list-coin-name {
  display: inline-block;
  margin-right: 1em;
}

.coins-list-coin-symbol {
  display: inline-block;
  width: 6ch;
  margin-right: 1em;
}

.coins-list-coin-price {
  display: inline-block;
  width: 7ch;
  margin-right: 1em;
  text-align: right;
}

.coins-list-selected-coin {
  background-color: forestgreen;
  color: white;
}

.coins-list-hidden {
  display: none;
}
